/node_modules
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
.env
/.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
plugins/*
uploads/*
debug.log

#include everything within /uploads/rubbish/stuff/keep
!plugins/echo-team/
!plugins/echo-aweber/