$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$navbar-height: 60px;
$navbar-margin-bottom: 0;
$icon-font-path: '../fonts/bootstrap/';
$fa-font-path:  '../fonts/font-awesome';