// @import 'colors';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'accessibility';
@import 'functions';
@import 'mixins';
@import '~font-awesome/scss/font-awesome';
@import 'styles';