/* Override any styles here */
ul.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    list-style: none;
    /* background-color: #f9f9fa; */
}
ul.accordion-list li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto 15px auto;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
}
ul.accordion-list li.active h3:after {
    transform: rotate(45deg);
}
ul.accordion-list li h3 {
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.01em;
    cursor: pointer;
}
ul.accordion-list li h3:after {
    content: "+";

    position: absolute;
    right: 0;
    top: 0;
    color: #fcc110;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
}
ul.accordion-list li div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
ul.accordion-list li div.answer p {
    position: relative;
    display: block;
    font-weight: 300;
    padding: 10px 0 0 0;
    cursor: pointer;
    line-height: 150%;
    margin: 0 0 15px 0;
    font-size: 14px;
}
