body {
    background-image: url('../img/echo-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main > .container {
  padding: 60px 15px 0;
}
