/*
https://blog.logrocket.com/how-to-use-css-variables-like-a-pro/
To declare a variable in CSS, come up with a name for the variable,
then append two hyphens (–) as the prefix.

To call do the following:
background-color: var(--brand-color);
*/

:root {
    --brand-color: #00000;
}
